/*!  04 - Utility !*/
$pd-space: 60px;
.section-pad{
	overflow: hidden;
	padding-top: $pd-space * 1;
	padding-bottom: $pd-space * 1;
	&-sm {
		padding-top: $pd-space * 0.75;
		padding-bottom: $pd-space * 0.75;
	}
	&-md{
		padding-top: $pd-space * 1.25;
		padding-bottom: $pd-space * 1.25;
	}
	&-lg {
		padding-top: $pd-space * 2;
		padding-bottom: $pd-space * 2;
	}
	&-xl {
		padding-top: $pd-space * 3;
		padding-bottom: $pd-space * 3;
	}
}
.nopd {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.nopb{
	padding-bottom: 0 !important;
}
.nopt{
	padding-top: 0 !important;
}

@media (min-width: 576px){
	.section-pad{
		padding-top: $pd-space * 1.5;
		padding-bottom: $pd-space * 1.5;
		&-sm {
			padding-top: $pd-space * 1.25;
			padding-bottom: $pd-space * 1.25;
		}
		&-md{
			padding-top: $pd-space * 2;
			padding-bottom: $pd-space * 2;
		}
		&-lg {
			padding-top: $pd-space * 3;
			padding-bottom: $pd-space * 3;
		}
		&-xl {
			padding-top: $pd-space * 4.5;
			padding-bottom: $pd-space * 4.5;
		}
	}
}
@media (min-width: 992px){
	.section-pad{
		padding-top: $pd-space * 2.25;
		padding-bottom: $pd-space * 2.25;
		&-sm {
			padding-top: $pd-space * 1.75;
			padding-bottom: $pd-space * 1.75;
		}
		&-md{
			padding-top: $pd-space * 3.75;
			padding-bottom: $pd-space * 3.75;
		}
		&-lg {
			padding-top: $pd-space * 5;
			padding-bottom: $pd-space * 5;
		}
		&-xl {
			padding-top: $pd-space * 7.5;
			padding-bottom: $pd-space * 7.5;
		}
	}
}

.mb{
	&-x1{
		margin-bottom: 10px;
	}
	&-x15{
		margin-bottom: 15px;
	}
	&-x2{
		margin-bottom: 20px;
	}
	&-x3{
		margin-bottom: 30px;
	}
	&-x4{
		margin-bottom: 40px;
	}
	&-x5{
		margin-bottom: 50px;
	}
}
.mbn{
	&-x1{
		margin-bottom: -10px;
	}
	&-x15{
		margin-bottom: -15px;
	}
	&-x2{
		margin-bottom: -20px;
	}
	&-x3{
		margin-bottom: -30px;
	}
	&-x4{
		margin-bottom: -40px;
	}
	&-x5{
		margin-bottom: -50px;
	}
}
.mt{
	&-x1{
		margin-top: 10px;
	}
	&-x15{
		margin-top: 15px;
	}
	&-x2{
		margin-top: 20px;
	}
	&-x3{
		margin-top: 30px;
	}
	&-x4{
		margin-top: 40px;
	}
	&-x5{
		margin-top: 50px;
	}
}
.mtn{
	&-x1{
		margin-top: -10px;
	}
	&-x15{
		margin-top: -15px;
	}
	&-x2{
		margin-top: -20px;
	}
	&-x3{
		margin-top: -30px;
	}
	&-x4{
		margin-top: -40px;
	}
	&-x5{
		margin-top: -50px;
	}
}